.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.DragDropContainer {
  display: flex;
  flex: 0.35;
  height: 360px;
  justify-content: center;
  align-items: center;
  border: 1px solid blueviolet;
}


.DragDropContainer:hover {
cursor: pointer;
}